body {
  background-image: url(./shot.jpg);
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  text-align: center;
}

h1 {
  margin-top: 180px;
  margin-bottom: 10px;
  font-size: 50px;
  color: yellow;
}

h2 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 10px;
  color: yellowgreen;
}
button {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 6px;
  cursor: pointer;
}

#increment-button {
  background-color: rgb(206, 10, 10);
  font-size: larger;
}

#save-button {
  background-color: rgb(132, 196, 21);
  font-size: larger;
}

p {
  font-size: xx-large;
  color: aliceblue;
  background-color: cornflowerblue;
}
